<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>놀면뭐hobby 취미 자랑</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/mainNH.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html">
					<img src="{{url_for('static',filename='img/logo.png')}}" alt="놀면뭐hobby 로고" width="130.59" height="43"/>
				</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="/elements">Elements</a></li>
				</ul>
				
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>취미생활을 마음껏 자랑해보세요!</h1>
						<p> 언택트 시대를 극복할 나만의 특별한 취미활동을 자랑해보세요. </p>
					</header>

								
							<div class="12u">

							
								<!-- Form -->
									<h3>Form</h3>

									<form method="POST" action="/post">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="Email" />
											</div>
											<!-- Break -->
											<div class="12u$">
												<div class="select-wrapper">
													<select name="category" id="category">
														<option value="">- 나의 취미 MBTI 유형 -</option>
														<option value="땅끄부부 보면서 홈트하는 호랑이">땅끄부부 보면서 홈트하는 호랑이</option>
														<option value="다음 생에 아이돌을 꿈꾸며 춤 추는 기린">다음 생에 아이돌을 꿈꾸며 춤 추는 기린</option>
														<option value="대나무 잎으로 풀피리를 연주하는 판다">대나무 잎으로 풀피리를 연주하는 판다</option>
														<option value="냄비를 태우면서 갈치 조림 요리하는 악어">냄비를 태우면서 갈치 조림 요리하는 악어</option>
														<option value="흔들의자에 앉아서 뜨개질하는 양">흔들의자에 앉아서 뜨개질하는 양</option>
														<option value="에어컨 밑에서 독서하는 펭귄">에어컨 밑에서 독서하는 펭귄</option>
														<option value="집사 옆에서 나초 먹으면서 영화보는 고양이">집사 옆에서 나초 먹으면서 영화보는 고양이</option>
														<option value="클래식 음악 들으면서 꽃꽂이하는 토끼">클래식 음악 들으면서 꽃꽂이하는 토끼</option>


													</select>
												</div>
											</div>
										
											<!-- Break -->
											<div class="12u$">
												<textarea name="content" id="content" placeholder="Enter your opinion" rows="6"></textarea>
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Share My Hobby" /></li>
													<li><input type="reset"  onclick="location.href='elements.html'" value="Back" class="alt" /></li>
												</ul>
											</div>
										</div>
									</form>

									<hr />

									<form method="post" action="#">
										<div class="row uniform">
											<div class="9u 12u$(small)">
												<input type="text" name="query" id="query" value="" placeholder="Query" />
											</div>
											<div class="3u$ 12u$(small)">
												<input type="submit" value="Search" class="fit" />
											</div>
										</div>
									</form>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">010-7417-4769</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">knh4769@khu.ac.kr</a></li>
						<li><span class="icon fa-map-marker"></span> 경기도 용인시 기흥구 덕영대로 1732 (경희대학교 국제캠퍼스)</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>