<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>놀면뭐hobby_콘텐츠추천</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/mainNH.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
			<a href="/">
					<img src="{{url_for('static',filename='img/logo.png')}}" alt="놀면뭐hobby 로고" width="130.59" height="43"/>
				</a>
			</header>
			
		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="/elements">Elements</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>취미 MBTI별 유튜브 콘텐츠 추천</h1>
						<p>이것만 따라하면 슬기로운 방콕 생활 정복!</p>
					</header>
					<ol>
					<div><strong><li><div style="text-align:left">땅끄부부 보면서 홈트하는 호랑이</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/iOSYLKBk894" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/CkRDw4En_78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/Q70jQVPkMnc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>
				
					<div><strong><li><div style="text-align:left">다음 생에 아이돌을 꿈꾸며 춤 추는 기린</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/-7tSTUR7FG0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/t5CwVVIp934" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/BTKiqYQBUAs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>
					
					<div><strong><li><div style="text-align:left">대나무 잎으로 풀피리를 연주하는 판다</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/Cl8KvZk67A8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/tHA_wJFecCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/O9NH6jiz-9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>
					
					<div><strong><li><div style="text-align:left">냄비를 태우면서 갈치 조림 요리하는 악어</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/uV2fqAbMTc4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/qUDEyONQaCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/DnQ09ZZCjCs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>

					<div><strong><li><div style="text-align:left">흔들의자에 앉아서 뜨개질하는 양</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/r_fTQgFmypk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/lCZxZBBnaHk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/ft1qoNOEP7Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>

					<div><strong><li><div style="text-align:left">에어컨 밑에서 독서하는 펭귄</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/LLppDwXwgik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/ySAzKeZgXZc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/RcWN4RdnxDQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>

					<div><strong><li><div style="text-align:left">집사 옆에서 나초 먹으면서 영화보는 고양이</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/ynCFgf5AW24" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/Mu2vhTcVvLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/pxTR6tSUNX4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<br>

					<div><strong><li><div style="text-align:left">클래식 음악 들으면서 꽃 꽂이하는 토끼</div></li></strong>

					<iframe width="350" height="196" src="https://www.youtube.com/embed/iF2pN-mL5uo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/Ij213PkxIr8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="350" height="196" src="https://www.youtube.com/embed/3eYyMlpO3ps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					</ol>
				</div>
			</section>

	<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">010-7417-4769</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">knh4769@khu.ac.kr</a></li>
						<li><span class="icon fa-map-marker"></span> 경기도 용인시 기흥구 덕영대로 1732 (경희대학교 국제캠퍼스)</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>