<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>놀면뭐hobby?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/mainNH.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/">
					<img src="{{url_for('static',filename='img/logo.png')}}" alt="놀면뭐hobby 로고" width="130.59" height="43"/>
				</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="MBTIintro.html">MBTI Introduction</a></li>
					<li><a href="elements.html">Show off your hobby</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>나의 취미 MBTI를 알아보자 !</h1>
					<p>MBTI는 성격 유형만 있다? NO! 코로나로 인해 집에 박혀 있게 된 당신, <br>이 테스트를 통해 집에서 액티비티하게 시간을 보내는 건 어떠세요?</p>
					<ul class="actions">
						<li><a href="test1.html" class="button scrolly">테스트 시작</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3><a href="#introduce">놀면뭐hobby 소개말</h3></a>
							<p>언택트 시대와 취미활동의 필요성에 대해서 소개합니다.</p>
						</div>
						<div>
							<h3><a href="/type">취미 MBTI 유형 소개</h3></a>
							<p>놀면뭐hobby에서 만든 취미 MBTI 유형 8가지를 소개합니다.</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="{{url_for('static',filename='img/pic01.jpg')}}"/>
					</div>
					<div class="flex-item right">
						<div>
							<h3><a href="/recommend">취미 MBTI별 유튜브 콘텐츠 추천</h3></a>
							<p>취미 MBTI가 알려준 취미활동을 어떻게 시작 해야 할지 모르겠다면 클릭하세요.</p>
						</div>
						<div>
							<h3><a href="/elements">내 취미활동 자랑하기</h3></a>
							<p>언택트 시대를 극복할 나만의 특별한 취미활동을 자랑해보세요.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<figure>
					    <blockquote>
					        "나 자신이 심심하지 않도록 취미를 만들어 줄 것."
					    </blockquote>
					    <footer>
					        <cite class="author">Audrey Kathleen Hepburn</cite>
					        <cite class="company">Actress, a Hollywood star</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="{{url_for('static',filename='img/logo.png')}}" alt="" />
						</div>
						<div class="content">
							<h3><a name="introduce">놀면뭐hobby 소개말</h3>
							<p>언택트란, ‘접촉하다’라는 의미를 가진 영어단어 ‘Contact’에 부정의 의미를 담은 접두사 ‘Un-‘을 합성한 신조어 콩글리시입니다. 사회적 거리 두기로 인해 사람과 접촉하지 않는 경향이나 행태 등을 가리킬 때 요즘 자주 쓰는 표현입니다. 코로나19 사태로 인해 이 신조어가 생겨난 것은 아니지만, 2020년 상황을 가장 잘 나타내는 단어 하나라고 할 수 있습니다. 이렇게 거의 집에서만 생활해야만 하는 언택트 시대를 견뎌온 지 어느덧 8개월이 지났습니다. 이 언택트 시대가 언제 끝날지 모르는 상황에서, 당신의 새로운 취미를 찾아주려 합니다. 이미 시도해본 것들일 수도 있지만, 우리 사이트를 통해서 조금이나마 지루함과 무기력함을 덜 수 있었으면 좋겠습니다. 우리의 취미 MBTI 테스트는 실제 MBTI 테스트를 참고하여 만들었습니다. 실제 MBTI 테스트보다는 정확성이 떨어지겠지만, 재미로 우리 사이트를 이용해주시면 감사하겠습니다. </p>
						</div>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">010-7417-4769</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">knh4769@khu.ac.kr</a></li>
						<li><span class="icon fa-map-marker"></span> 경기도 용인시 기흥구 덕영대로 1732 (경희대학교 국제캠퍼스)</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/mainNH.js"></script>

	</body>
</html>
