<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>놀면뭐hobby?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainAhhye.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html">
					<img src="{{ url_for('static', filename='img/logo.png') }}" alt="놀면뭐hobby 로고" width="130.59" height="43"/>
				</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="MBTIintro.html">MBTI Introduction</a></li>
					<li><a href="elements.html">Show off your hobby</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/cat.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">집사 옆에서 나초 먹으며 영화보는 고양이!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>오감으로 느끼는 현재를 중요시하는 당신에게는</p>
									<p>영화 감상을 추천해드릴게요 (ง˙∇˙)ว</p>
									<p>좋아하는 사람과 포근한 이불 안에서 영화에 집중해보세요.</p>
									<p>편안한 잠옷을 입고 과자를 먹으며 보는 영화가 제일 꿀잼이랍니다!</p>
									<p>영화를 보다가 그대로 잠에 들어도 괜찮아요 (ღˇᴗˇ)｡o♡</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/crocodile.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">냄비를 태우면서 갈치 조림 요리하는 악어!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>계획적으로 움직이는 것을 좋아하시는 당신에게는</p>
									<p>요리를 추천해드릴게요 ღ'ᴗ'ღ</p>
									<p>재료 준비, 재료 손질, 양념 만들기, 완성까지!</p>
									<p>단계별로 진행되는 요리가 당신에게 가장 잘 어울리는 취미인 것 같아요.</p>
									<p>냄비를 태우더라도 요리를 끝내면 뿌듯함과 즐거움만 남을 거예요 ღ˘‿˘ற꒱</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/giraffe.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">다음 생에 아이돌을 꿈꾸며 춤 추는 기린!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>잠시도 가만히 못 있겠다! 하는 열정적인 당신에게는</p>
									<p>여가 시간의 댄스파티를 추천할게요 (๑❛ڡ❛๑)☆</p>
									<p>계획 없이 좋아하는 음악에 몸을 맡겨보는 건 어때요?</p>
									<p>너무 신이 나서 그동안의 무료함은 생각조차 나지 않을 거예요!</p>
									<p>집에서 할 수 있는 것 중에 댄스만큼 활동적인 취미는 없답니다 ٩(๑• ₃ -๑)۶</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/panda.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">대나무 잎으로 풀피리를 연주하는 판다!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>조화로운 것을 좋아하는 당신에게는</p>
									<p>악기를 연주하는 시간을 추천해드리고 싶어요 '◡'✿</p>
									<p>악보의 음표들을 따라가며 아름다운 하모니를 만들어내는 취미예요.</p>
									<p>클래식, 가요, .. 음악 종류에 상관없이 좋아하는 곡부터 시작해보세요.</p>
									<p>악기의 종류도 상관없답니다 ◟(∗❛ᴗ❛∗)◞ </p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/penguin.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">에어컨 밑에서 독서하는 펭귄!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>팩트보다는 의미가 더 중요한 당신에게는</p>
									<p>차분히 앉아 시간을 보낼 수 있는 독서를 추천할게요 ( *˘╰╯˘)</p>
									<p>끝까지 읽어야 한다는 부담은 버려요!</p>
									<p>그만 읽고 싶다면 그대로 책을 덮어도 괜찮아요.</p>
									<p>같은 글이라도 어떤 의미를 부여하느냐에 따라 180도 달라지는 것이 독서의 매력이에요 (੭*ˊᵕˋ)੭</p>
									<p>선뜻 책을 읽고 싶은 마음이 들지 않는다면 시집부터 도전해보는 건 어때요?</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/rabbit.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">클래식 음악 들으면서 꽃꽂이하는 토끼!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>목적을 향해 나아가는 것을 좋아하는 당신에게는</p>
									<p>꽃꽂이를 추천해드려요 (~˘▾˘)~♫•*¨*•.¸¸♪</p>
									<p>활짝 핀 예쁜 꽃들을 조화롭게 만들면서 느끼는 행복이 크답니다.</p>
									<p>꽃의 종류도 당신의 취향 가득, 꽃을 배열하는 방법도 당신의 취향 듬뿍!</p>
									<p>순간순간의 느낌에 따라 채워가는 꽃다발, 너무 기대되지 않나요? (🌼❛ ֊ ❛„)</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/sheep.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">흔들의자에 앉아서 뜨개질하는 양!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>혼자만의 시간을 가지며 여유를 느끼고 싶은 당신에게는</p>
									<p>따스한 취미, 뜨개질을 추천해드릴게요 ◟(˘◡˘∗)◞</p>
									<p>코로나로 힘든 나날을 보내고 있는 올해,</p>
									<p>그 사람이 이번 겨울을 따뜻하게 보낼 수 있게 목도리를 선물해 보세요.</p>
									<p>누군가를 생각하며 뜨개질할 때 시간이 순삭! 되는 것은 덤이에요 (∗❛⌄❛∗)</p>
								</div>
						</div>
					</div>
				</div>
				<div class="inner flex flex-3">
					<div class="flex-item image fit round">
						<img src="{{ url_for('static', filename='img/tiger.jpg') }}"/>
					</div>
					<div class="flex-item right">
						<div style="text-align:center; padding-bottom:150px; vertical-align:center;">
							<h2 style="padding-bottom:20px;">땅끄부부 보면서 홈트하는 호랑이!</h2>
								<div style="width:500px; font-weight: bold;">
									<p>활동적인 취미를 선호하는 당신에게는</p>
									<p>홈 트레이닝을 통해 몸과 마음을 단단하게 하는 시간을 추천드려요 ✧ʕ•ٹ•ʔ</p>
									<p>다양한 운동 영상들을 보면서 개운하게 몸을 풀어보아요!</p>
									<p>저희가 추천해드리는 홈 트레이닝 콘텐츠를 시청하시는 건 어때요? ◟( ˘ ³˘)◞ </p>
									<p>달력에 운동한 날을 표시하면서 해도 좋아요!</p>
									<p>하루, 하루 운동하는 날이 늘어갈 때의 뿌듯함을 느껴보세요.</p>
								</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">010-7417-4769</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">knh4769@khu.ac.kr</a></li>
						<li><span class="icon fa-map-marker"></span> 경기도 용인시 기흥구 덕영대로 1732 (경희대학교 국제캠퍼스)</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
