<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Copy URL</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/mainAhhye.css')}}" />
  </head>
  <body>
    <span><img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" width="100px" height="50px" style="display:block; margin:0px auto; padding-bottom:20px;"/></span>
    <h3 style="text-align: center;">URL 주소가 복사되었습니다.<br>친구들에게 공유해보세요! </h3>
    <ul class="actions">
    <li><span class="button alt icon fa-check" onClick="window.close()">확인</span></li>
    </ul>
  </body>
</html>
